*.o
*.la
*.lo
.deps/
.libs/
Makefile

/autom4te.cache/
/config.log
/config.status
/libtool
/src/include/config.h
/src/include/stamp-h1
/src/syncfs
/tests/clockstat
/tests/concurio
/tests/concurio_fork
/tests/files
